/* первичный цвет текста  #757575*/
/* вторичный цвет текста #212121 */
/* цвета лого #000000; FFFFFF; #2196F3 */
/* цвет акцента #2196F3 */
/* белый #FFFFFF */
/* цвет фона #E5E5E5 */

:root {
  /* text-color */
  --title-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;

  /* fonts  */
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
}
/* body */

body {
  background-color: #ffffff;
  color: var(--text-color);
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 15px;
  padding-left: 15px;

  outline: solid 2px tomato;
}

/* logo */

.header {
  padding-top: 32px;
  padding-bottom: 32px;

  /* background-color: aqua; */
}

.header-logo {
  color: var(--accent-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.header-logo-part {
  color: #000000;
}
.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}
.ul {
  margin: 0;
  padding: 0;
}

.img {
  margin: 0;
  padding: 0;
}

/* navigation */

.navigation {
  margin-top: 0;
  margin-bottom: 0;
}

.nav-link {
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-link.curent {
  color: var(--accent-color);
}

/* call */

.call-link {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.call-link:hover,
.call-link:focus {
  color: var(--accent-color);
}

/* team */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.team-title {
  color: var(--title-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 50px;
}
.team-item {
  color: var(--title-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
}
.team-text {
  color: var(--text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 0;
}

/* hero */
.hero {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 94px;

  outline: solid 2px tomato;
}

.hero-title {
  color: #ffffff;
  background-color: #2f303a;
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  color: #ffffff;
  background-color: var(--accent-color);

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;

  border-radius: 4px;
  border-color: transparent;
  padding: 10px 32px;
  min-width: 200px;
}
/* footer */

.footer {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 60px;

  background: #2f303a;
}

.footer-logo {
  display: inline-block;
  color: var(--accent-color);

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 60px;
}

.footer-logo-part {
  color: #ffffff;
}

.footer-link {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

/* skills */
.skills {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 94px;
  /* background-color: yellow; */
}

.skills-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.skills-text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--text-color);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* button */

.btn-item {
  color: var(--title-color);
  background-color: #ffffff;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.btn-item:hover,
.btn-item:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

/* exemples */

.examples-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.examples-text {
  color: var(--text-color);

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/* work */
.work {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 94px;

  /* background-color: #93db85; */
}

.work-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* address */

.place {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 9px;
  color: #ffffff;
}

.adds {
  margin: 0;
  padding: 0;
  font-style: inherit;
}
.tel {
  margin-top: 0;
  margin-bottom: 0;
}
